html, body{
    /*height: 100%;*/
    width: 100%;
}
.register{
    width: 100%;
    height: auto;
    margin-top: 100px;
    /*background-color: black;*/
}
.logo{
    height: 100%;
    width: 200px;
    background-color: palevioletred;
    margin-left: 30%;
    /*float: left;*/
}
.register-form{
    /*float: left;*/
    width: 300px;
    height: 500px;
    background-color: blue;
    padding-left: 20px;
}
