{% extends 'user/user_base.html' %}
{% block title %}
    用户中心
{% endblock %}
{% block right_content %}
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{user.username}}</li>
                            {% if address %}
							<li><span>联系方式：</span>{{address.contact_num}}</li>
							<li><span>联系地址：</span>{{ address.address }}</li>
                            {% else %}
                            <li><span>联系方式：</span>无默认联系方式</li>
							<li><span>联系地址：</span>无联系地址</li>
                            {% endif %}
						</ul>
				</div>

				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">

				{%for product  in product_list%}
				<li>
					<a href="{% url 'product:detail' product.id %}"><img src="{{product.image}}"></a>
					<h4><a href="{% url 'product:detail' product.id %}">{{product.name}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{product.price}}</span>
						<span class="unit">{{product.price}}/{{product.unite}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			        </ul>
		        </div>
		</div>


{% endblock right_content %}